requests>=2.31.0
beautifulsoup4>=4.12.0
lxml>=5.1.0
html5lib>=1.1
requests-html>=0.10.0
pandas>=2.0.0
python-dateutil>=2.8.0
python-dotenv>=1.0.0
pyyaml>=6.0.0
loguru>=0.7.0
schedule>=1.2.0
django>=5.0.0
django-cors-headers>=4.3.1
cryptography>=46.0.5
simhash>=2.1.2
aiohttp>=3.13.3
transformers>=5.3.0
torch>=2.10.0
djangorestframework>=3.17.1
dj-rest-auth>=7.2.0
django-allauth>=65.15.1
django-apscheduler>=0.7.0
djangorestframework-simplejwt>=5.5.1
pyjwt>=2.12.1
tzlocal>=5.3.1
apscheduler>=3.11.2
gunicorn>=21.2.0
whitenoise[brotli]>=6.6.0
dj-database-url>=2.1.0
psycopg-binary>=3.1.18
